* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background: linear-gradient(to left, #11998e, #38ef7d);
  height: 100vh;
  width: 100vw;
}

.heading-container {
  padding: 12px;
  margin-bottom: 56px;
  margin-top: 24px;
}

.heading, .sub-heading {
  text-align: center;
  color: #FFF;
  font-weight: 200;
  font-family: sans-serif;
}

.heading {
  font-size: 2.4em;
  margin-bottom: 12px;
}

.sub-heading {
  font-size: 1.4em;
  white-space: nowrap;
}

.text-green {
  color: #11998e;
}

.demo-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.demo-container .demo-source, .demo-container .demo-result {
  flex-basis: 45%;
}

.demo-source img {
  width: 100%;
}

.demo-result {
  overflow: hidden;
  height: 420px;
}

@media (max-width: 800px) {
  .demo-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .demo-container .demo-source, .demo-container .demo-result {
    width: 100%;
  }
}